
/**
 * Remove default margin and padding.
 */

body, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

main {
    box-sizing: border-box;
}

li, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background-color: transparent;

}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}



